<div class="flex justify-center items-center" style='height:90vh;'>
  <div class="w-full max-w-lg shadow-md rounded " style="background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))">
      <%= form_with :class => "px-8 pt-6 pb-8 mb-4", model: Current.user, url: password_update_path, method: :patch, locale: true do |f| %>
      <h1 class="mb-5 text-3xl text-yellow-500">Edit Password</h1>
      <div class="mb-6">
        <%= f.label :Current_Password, :class => "block text-gray-400 text-sm font-bold mb-2" %>
        <%= f.password_field :current_password, :class => "shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline", :placeholder => 'Password', :required => true %>
        <% if flash[:invalid] %>
          <div class="text-red-400 font-bold mt-2 validations"><%= flash[:invalid]%></div>
        <% end %>
      </div>
      <div class="mb-6">
        <%= f.label :New_Password, :class => "block text-gray-400 text-sm font-bold mb-2" %>
        <%= f.password_field :password, :class => "shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline", :placeholder => 'Password', :required => true %>
      </div>
      <div class="mb-4">
        <%= f.label :Confirm_new_Password, :class => "block text-gray-400 text-sm font-bold mb-2" %>
        <%= f.password_field :password_confirmation, :class => "shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline", :placeholder => 'PasswordConfirmation', :required => true %>
        <% if flash[:not_match] %>
          <div class="text-red-400 font-bold mt-2 validations"><%= flash[:not_match]%></div>
           <% elsif flash[:length] %>
          <div class="text-red-400 font-bold mt-2 validations"><%= flash[:length]%></div>
        <% end %>
      </div>
      <br>
      
      <div class="flex items-center justify-between">
        <%= f.submit "Update Changes", :class => "w-full bg-yellow-600 hover:bg-yellow-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
      </div>
        <br>
      <div class="flex items-center justify-between">
        <%= link_to 'Back', profile_edit_path, :class => "text-center w-full bg-white hover:bg-white text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
      </div>
    
    <% end %>
  </div>
</div>

<script>
	var validation = document.querySelector('.validations')
  console.log(validation)
	if (validation) {
		setTimeout(() => {
			validation.style.display = 'none'
		}, 4000);
	}
</script>