  <div class="max-w-7xl mx-auto ">
    <div class=" container my-12 mx-auto px-4 md:px-12 grid grid-cols-1 sm:grid-cols-1  gap-5" >
      <div class=" rounded  text-3xl font-bold py-6 px-4 sm:px-6 lg:px-8 text-yellow-400 " style="background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6));">
      <img src="https://icons8.com/animated-icons/set/animated%20gif" srcset="https://a.slack-edge.com/6c404/marketing/img/homepage/bold-existing-users/waving-hand.gif 1x, https://a.slack-edge.com/6c404/marketing/img/homepage/bold-existing-users/waving-hand@2x.gif 2x" alt="" height="56" width="52" />
        Hello, <%= Current.user.firstname.capitalize%> 
      </div>
    </div>
          
    <div class="container my-12 mx-auto px-4 md:px-12 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3  xl:grid-cols-3 gap-5">

      <% @journals.each do |journal|%>
        <div class="rounded overflow-hidden shadow-lg " style="background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6));">
          <div class="px-6 py-4">
          <%= link_to "journals/#{journal.id}", method: :delete, data: { confirm: "are you sure?" } do %><button class="fas fa-times text-red-700" style="float:right;"> </button><% end %>
        <div class="font-bold text-xl mb-2 text-yellow-400"> <%=journal.name%></div>
            <p class="text-gray-400 text-base mt-5">
              <%=journal.description%>
            </p>
            <h1 class="mt-5"><%#= journal.status === 0 ? "Completed" : "Completed" %></h1>
            <h1 class="text-green-500"><%= @count_completed[:journals][journal.id][:completed]  %> Completed<h1/>
            <h1 class="text-yellow-400"><%= journal.tasks.length > 0 ? journal.tasks.length : 'No'%> tasks</h1>
            <h1 class="mt-5"><%= journal.created_at.strftime("%A %b %e, %Y ") %></h1>
          </div>
            <div class="px-6 pt-4 pb-2">
         <%= link_to journals_tasks_new_path(journal.id) do %><button class="fas fa-plus inline-block bg-red-200 hover:bg-red-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"> Add Tasks</button>  <% end %>
            <%= link_to journals_tasks_path(journal.id) do %><button class="fas fa-eye inline-block bg-blue-200 hover:bg-blue-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"> View Journal</button><% end %>
          <%= link_to journals_edit_path(journal.id) do %><button class="fas fa-edit inline-block bg-yellow-200 hover:bg-yellow-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"> Edit</button><% end %>
        </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="max-w-7xl mx-auto ">
    <% if @tasks.length > 0 %>
    
          <div class=" container my-12 mx-auto px-4 md:px-12 grid grid-cols-1 sm:grid-cols-1  gap-5" >
            <div class=" rounded  text-3xl font-bold py-6 px-4 sm:px-6 lg:px-8 text-white-400 " style="background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6));">
              <%=image_tag("reminder.png", alt: "Example Image" , height: "56", width: "52")%>
              Hi <%= Current.user.firstname.capitalize%> , These tasks needs your attention!!!
            </div>
          </div>
              
          <div class="container my-12 mx-auto px-4 md:px-12 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3  xl:grid-cols-3 gap-5">
            <% @tasks.each do |task|%>
              <% if task.deadline.past? || task.deadline.today? %>
                <% if !task.completed? %>
                  <div class="rounded overflow-hidden shadow-lg " style="background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6));">
                    <div class="px-6 py-4">
                      <div style="float:right;">
                        <%= link_to journals_tasks_delete_path(task.journal_id, task.id), method: :delete, data: { confirm: "are you sure?" } do %><button class="ml-3 fas fa-times text-red-700"> </button><% end %>
                      </div>
                      <div style="float:right;">
                        <% if task.deadline.today? %>
                          <p class="text-yellow-500">Duetoday!</p>
                        <% else %>
                          <p class="text-red-500">Overdue!</p>
                        <% end %>
                      </div>
                      <div class="font-bold text-xl mb-2 text-yellow-400"><%#=task.name%> <%=task.name%></div>
                        <p class="text-gray-700 text-base mt-5"><%=task.description%></p>
                        <br>
                        <h1>Deadline <%=task.deadline.strftime("%A %b %e, %Y ")%></h1>
                      </div>
                      <div class="px-6 pt-4 pb-2">
                        <%= link_to dashboard_tasks_complete_path(task.journal_id, task.id, task.completed ? '1' : '0') do %>
                          <button class="#{task.completed ? fas fa-check : fas fa-times}  inline-block bg-green-300 hover:bg-green-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"> 
                            <% if task.completed %>
                              Unmark completed
                            <% else %>
                            Mark completed
                            <% end %>
                          </button>
                        <% end %>
                        <%= link_to journals_tasks_show_path(task.journal_id, task.id) do %><button class="fas fa-eye inline-block bg-blue-300 hover:bg-blue-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"> View </button><% end %>
                        <%= link_to journals_tasks_edit_path(task.journal_id, task.id) do %><button class="fas fa-edit inline-block bg-yellow-300 hover:bg-yellow-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"> Edit</button><% end %>
                      </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
        </div>
 
  <% end %>   
</div>
  