<div class="flex justify-center items-center " style='height:90vh; '>
  <div class="w-full max-w-lg shadow-md rounded" style="background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))">
    <%= form_with :class => "px-8 pt-6 pb-8 mb-4", model: @task, url: tasks_new_path, locale: true do |f| %>
    <h1 class="mb-5 text-3xl text-yellow-500">Add Tasks</h1>
     <div class="mb-4">
      <%= f.label :Journal_title, :class => "block text-gray-700 text-sm font-bold mb-2" %>
      <%= collection_select :task, :journal_id, Journal.where(user_id: Current.user.id), :id, :name, { include_blank: 'Journal Title' }, { class: "input", :class => "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
     <% @task.errors.full_messages_for(:journal).each do |message| %>
        <div style="color:red;"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :task_title, :class => "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_field :name,  :class => "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", :placeholder => 'task Title' %>
      <% @task.errors.full_messages_for(:name).each do |message| %>
        <div style="color:red;"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-6">
      <%= f.label :Description, :class => "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_area :description,  :class => "h-44 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", :placeholder => 'Description' %>
      <% @task.errors.full_messages_for(:description).each do |message| %>
        <div style="color:red;"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-6">
      <%= f.label :Deadline, :class => "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.date_field  :deadline,  :class => "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", :placeholder => 'Description' %>
      <% @task.errors.full_messages_for(:deadline).each do |message| %>
        <div style="color:red;"><%= message %></div>
      <% end %>
    </div>
     
    <div class="flex items-center justify-between">
      <%= link_to 'Back', dashboard_path, :class => "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%>
      <%= f.submit "Save", :class => "bg-yellow-600 hover:bg-yellow-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
    </div>
    <% end %>
  </div>
</div>